:host {
  .example-spacer {
    flex: 1 1 auto;
  }

  .header-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    .icon-menu {
      transform: scale(1.5);
    }

    h1 {
      a {
        font-size: 2.5rem !important;
        font-weight: 500;
        margin-left: 2rem;
        text-decoration: none;
        color: black;
      }
    }
  }

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
}
