<mat-toolbar>
  <div class="header-container">
    <div class="header-logo-wrapper">
      <button mat-icon-button aria-label="Menu button" (click)="onToggleSideNav()">
        <mat-icon>menu</mat-icon>
      </button>
      <h1><a routerLink="/layout/dashboard">Parsley</a></h1>
    </div>
    <div class="example-spacer"></div>
    <button mat-raised-button aria-label="Logout button" (click)="onLogout()">
      <mat-icon class="app-mat-icon-scale-1">logout</mat-icon> Logout
    </button>
  </div>
</mat-toolbar>
