// MEDIA QUERY MANAGER

/*

    xs (for phones - screens less than 360px wide)
    sm (for tablets - screens equal to or greater than 768px wide)
    md (for small laptops - screens equal to or greater than 992px wide)
    lg (for laptops and desktops - screens equal to or greater than 1200px wide)
    xlg (for laptops and desktops - screens equal to or greater than 1400px wide)

1em = 16px

*/

// In this spot we are using em's because there value is global
@mixin response($breakpoint) {
  @if $breakpoint==xs {
    @media only screen and (max-width: 430px) {
      @content;
    }

    // 400px
  }

  @if $breakpoint==sm {
    @media only screen and (max-width: 600px) {
      @content;
    }

    // 768px
  }

  @if $breakpoint==md {
    @media only screen and (max-width: 890px) {
      @content;
    }

    // 992px
  }

  @if $breakpoint==ld {
    @media only screen and (max-width: 1050px) {
      @content;
    }

    // 1000px
  }

  @if $breakpoint==xld {
    @media only screen and (max-width: 1230px) {
      @content;
    }

    // 1430px
  }
}

// Center mixin
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
