$primary-color: #2bec89;
$accent-color: #8a5cc2;
$alert-color: #ff9012;
$error-color: #e11b1b;

// Declaring color with shades (material design pink)
$pink-color-50: #fce4ec;
// ... Shades 100-700
$pink-color-800: #ad1457;
$pink-color-900: #880e4f;

$space-xs: 4px;
$space-s: 8px;
$space-md: 12px;
$space-lg: 16px;
$space-xl: 20px;
