.sidenav {
  width: 200px;
  height: auto;
  padding: 20px;
}

.sidenav nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.active-link {
  color: red;
  font-weight: bold;
}

.sidenav nav li {
  margin-bottom: 10px;
}

.sidenav nav a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 8px;
  border-radius: 4px;
  &:hover {
    color: #646464;
    font-weight: bold;
  }
  transition: all 0.3s ease;
}

.sidenav nav a.active {
  background-color: #e0e0e0;
}
