<mat-card class="login-form">
  <mat-card-header>
    <mat-card-title>Login</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!-- Login form -->
    <form [formGroup]="authForm">
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" />
        @if (emailError) {
          <mat-error> Please enter a valid email address </mat-error>
        }
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input
          matInput
          formControlName="password"
          [type]="pwdHide ? 'text' : 'password'"
        />
        @if (passwordError) {
          <mat-error> Password is required </mat-error>
        }
        <button
          mat-icon-button
          matSuffix
          (click)="pwdHide = !pwdHide"
          [attr.aria-label]="'Hide password'"
        >
          <mat-icon>{{ pwdHide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onLogin()"
      (keypress)="onLogin()"
      [disabled]="!authForm.valid"
    >
    <mat-icon class="app-mat-icon-scale-1">login</mat-icon>Login
    </button>
  </mat-card-actions>
</mat-card>
