<mat-accordion class="example-headers-align" multi>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> {{ title() }} </mat-panel-title>
      <mat-panel-description>
        Type your name and age
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <!-- food search bar -->
    <app-search-bar />
    <!-- nutrients list -->
    <app-nutrients-display [nutrientData]="nutrientData()" />
  </mat-expansion-panel>
</mat-accordion>
