<mat-accordion multi>
  <mat-expansion-panel class="meal-expansion-panel" [expanded]="isExpanded()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ title() }}
      </mat-panel-title>
      <mat-panel-description>
        <!-- Time in HH:mm format -->
        <div>{{ currentDate | date: 'HH:mm' }}</div>
        @if (notSavedChanges) {
          <span class="meal-save-warning">You have unsaved meal changes</span>
        }
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="meal-card-content">
      <!-- food search bar -->
      <div class="meal-card-content__search-bar">
        <app-search-bar
          [options]="foodSearchList()"
          (chosenOption)="onPickFood($event)"
          buttonText="Add"
          buttonFunction="add"
        />
      </div>
      <!-- food position -->
      <ul class="meal-card-content__food-position">
        @for (food of selectedFoods(); track food.food.name) {
          <li>
            <app-food-position
              [foodPosition]="{
                name: food.food.name,
                quantity: food.quantity,
                unit: food.unit,
              }"
              (changeFoodQuantity)="onChangeFoodQuantity($event)"
              (deleteFood)="onDeleteFoodPosition($event)"
            />
          </li>
        }
      </ul>
      <!-- buttons -->
      <div class="meal-card-content__buttons">
        <div class="meal-card-content-buttons-wrapper">
          <button mat-flat-button aria-label="Save meal" (click)="onSaveMeal()">
            Save <mat-icon class="app-mat-icon-scale-1">save</mat-icon>
          </button>
          <app-delete-buttons (deleteEvent)="openDialog()" buttonStyle="text-icon" />
        </div>
      </div>
    </div>
    <!-- nutrients list -->
    <app-nutrients-display [nutrientData]="nutrientData()" [displayName]="displayName" />
  </mat-expansion-panel>
</mat-accordion>
