<mat-icon>panorama_fish_eye</mat-icon>
<label for="food-position">{{ foodPosition().name }}</label>
<input id="food-position" type="text" matInput [(ngModel)]="foodQuantity" />
<p>[{{ foodPosition().unit }}]</p>
<app-delete-buttons (deleteEvent)="onDeleteFoodPosition()" />
<form>
  <mat-icon>panorama_fish_eye</mat-icon>
  <label for="food-position">{{ foodPosition().name }}</label>
  <input
    id="food-position"
    type="text"
    matInput
    value="{{ foodPosition().quantity }}"
  />
  <p>[{{ foodPosition().unit }}]</p>
</form>
<app-delete-buttons />

