<app-page-header title="Dashboard" />
<div class="dashboard">
  <!-- <app-gender-picker /> -->
  <div class="grid-nav">
    @for (route of routesForNav; track route.name) {
      <a
        matRipple
        [matRippleCentered]="true"
        [matRippleColor]="rippleColor"
        class="grid-nav__item"
        [routerLink]="'/layout/' + route.path"
        routerLinkActive="active-link"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <span>{{ route.name }}</span>
      </a>
    }
  </div>
</div>
