<p>dashboard works!</p>
<div class="timer-container">
  <div>
    <div class="time-display">{{ minutes }}:{{ seconds }}</div>
    <button (click)="toggleTimer()">
      {{ isRunning ? 'Pause' : 'Start' }}
    </button>
    <button (click)="resetTimer()">Reset</button>
  </div>
</div>

<div>
  <button (click)="getFood()">Get Food</button>
  <br />

  @if (globalStore.isLoading()) {
    <p>Loading...</p>
  }

  <br />
  <br />
  <br />

  @for (item of food() | keyvalue; track item.key) {
    <div class="nutrition-item">
      <div class="nutrition-item__label">{{ item.key }}</div>
      <div class="nutrition-item__value">{{ item.value }}</div>
    </div>
    <p>---------------</p>
  }
</div>
