<!-- nutrient-list.component.html -->
<div class="nutrient-container">
  @if (isObjectNotEmpty) {
    @if (displayName()) {
      <h2>Name: {{ nutrientData().name }}</h2>
    }
    <div class="columns-container">
      <!-- Other Nutrients Column -->
      <div class="column other">
        <h3>Nutrients</h3>
        <ul class="nutrient-list">
          <li>
            <strong>Calories:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().calories | number: '1.0-0' }}
              <div class="unit-wrapper">kcal</div>
              <div class="percentage-wrapper">
                ({{
                  nutrientData().calories | nutrientPercentage: 'calories'
                }}%)
              </div>
            </div>
          </li>
          <li>
            <strong>Water Content:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().water | number: '1.0-0' }}
              <div class="unit-wrapper">ml</div>
              <div class="percentage-wrapper">
                ({{ nutrientData().water | nutrientPercentage: 'water' }}%)
              </div>
            </div>
          </li>
          <li>
            <strong>Total Protein:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.protein.totalProteins }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">
                ({{
                  nutrientData().macroNutrients.protein.totalProteins
                    | nutrientPercentage: 'water'
                }}%)
              </div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Animal Protein:</strong>
            <div class="nutrient-list-item__value">
              {{
                nutrientData().macroNutrients.protein.animal | number: '1.1-1'
              }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '1' }}%)</div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Plant Protein:</strong>
            <div class="nutrient-list-item__value">
              {{
                nutrientData().macroNutrients.protein.plant | number: '1.1-1'
              }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Total Fats:</strong>
            <div class="nutrient-list-item__value">
              {{
                nutrientData().macroNutrients.fats.totalFats | number: '1.1-1'
              }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '300' }}%)</div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Saturated Fats:</strong>
            <div class="nutrient-list-item__value">
              {{
                nutrientData().macroNutrients.fats.saturated | number: '1.1-1'
              }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Monounsaturated Fats:</strong>
            <div class="nutrient-list-item__value">
              {{
                nutrientData().macroNutrients.fats.monounsaturated
                  | number: '1.1-1'
              }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Polyunsaturated Fats:</strong>
            <div class="nutrient-list-item__value">
              {{
                nutrientData().macroNutrients.fats.polyunsaturated
                  | number: '1.1-1'
              }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Trans Fats:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.fats.trans | number: '1.1-1' }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Total Carbohydrates:</strong>
            <div class="nutrient-list-item__value">
              {{
                nutrientData().macroNutrients.carbohydrates | number: '1.1-1'
              }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Total Sugars:</strong>
            <div class="nutrient-list-item__value">
              {{
                nutrientData().macroNutrients.sugars.totalSugars
                  | number: '1.1-1'
              }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Glucose:</strong>
            <div class="nutrient-list-item__value">
              {{
                nutrientData().macroNutrients.sugars.glucose | number: '1.1-1'
              }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Fructose:</strong>
            <div class="nutrient-list-item__value">
              {{
                nutrientData().macroNutrients.sugars.fructose | number: '1.1-1'
              }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Sucrose:</strong>
            <div class="nutrient-list-item__value">
              {{
                nutrientData().macroNutrients.sugars.sucrose | number: '1.1-1'
              }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Fiber:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.fiber | number: '1.1-1' }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Cholesterol:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.cholesterol | number: '1.1-1' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Glycemic Index:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().glycemic_index | number: '1.0-0' }}
            </div>
          </li>
        </ul>
      </div>
      <!-- Minerals Column -->
      <div class="column minerals">
        <h3>Minerals</h3>
        <ul class="nutrient-list">
          <li>
            <strong>Potassium: </strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.potassium | number: '1.2-2' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">
                ({{
                  nutrientData().minerals.potassium
                    | nutrientPercentage: 'potassium'
                }}%)
              </div>
            </div>
          </li>
          <li>
            <strong>Calcium: </strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.calcium | number: '1.2-2' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">
                ({{
                  nutrientData().minerals.potassium
                    | nutrientPercentage: 'calcium'
                }}%)
              </div>
            </div>
          </li>
          <li>
            <strong>Magnesium: </strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.magnesium | number: '1.2-2' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">
                ({{
                  nutrientData().minerals.potassium
                    | nutrientPercentage: 'magnesium'
                }}%)
              </div>
            </div>
          </li>
          <li>
            <strong>Phosphorus: </strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.phosphorus | number: '1.2-2' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">
                ({{
                  nutrientData().minerals.potassium
                    | nutrientPercentage: 'phosphorus'
                }}%)
              </div>
            </div>
          </li>
          <li>
            <strong>Sodium: </strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.sodium | number: '1.2-2' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">
                ({{
                  nutrientData().minerals.potassium
                    | nutrientPercentage: 'sodium'
                }}%)
              </div>
            </div>
          </li>
          <li>
            <strong>Iron :</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.iron | number: '1.2-2' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">
                ({{
                  nutrientData().minerals.potassium
                    | nutrientPercentage: 'iron'
                }}%)
              </div>
            </div>
          </li>
          <li>
            <strong>Zinc: </strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.zinc | number: '1.2-2' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">
                ({{
                  nutrientData().minerals.potassium
                    | nutrientPercentage: 'zinc'
                }}%)
              </div>
            </div>
          </li>
          <li>
            <strong>Copper: </strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.copper | number: '1.2-2' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">
                ({{
                  nutrientData().minerals.potassium
                    | nutrientPercentage: 'copper'
                }}%)
              </div>
            </div>
          </li>
          <li>
            <strong>Manganese:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.manganese | number: '1.2-2' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">
                ({{
                  nutrientData().minerals.potassium
                    | nutrientPercentage: 'manganese'
                }}%)
              </div>
            </div>
          </li>
          <li>
            <strong>Selenium:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.selenium | number: '1.2-2' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">
                ({{
                  nutrientData().minerals.potassium
                    | nutrientPercentage: 'selenium'
                }}%)
              </div>
            </div>
          </li>
          <li>
            <strong>Iodine:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.iodine | number: '1.2-2' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">
                ({{
                  nutrientData().minerals.potassium
                    | nutrientPercentage: 'iodine'
                }}%)
              </div>
            </div>
          </li>
          <li>
            <strong>Fluoride:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.fluoride | number: '1.2-2' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">
                ({{
                  nutrientData().minerals.potassium
                    | nutrientPercentage: 'fluoride'
                }}%)
              </div>
            </div>
          </li>
          <li>
            <strong>Chromium:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.chromium | number: '1.2-2' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">
                ({{
                  nutrientData().minerals.potassium
                    | nutrientPercentage: 'chromium'
                }}%)
              </div>
            </div>
          </li>
          <li>
            <strong>Molybdenum:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.molybdenum | number: '1.2-2' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">
                ({{
                  nutrientData().minerals.potassium
                    | nutrientPercentage: 'molybdenum'
                }}%)
              </div>
            </div>
          </li>
        </ul>
      </div>

      <!-- Vitamins Column -->
      <div class="column vitamins">
        <h3>Vitamins</h3>
        <ul class="nutrient-list">
          <li>
            <strong>Vitamin C:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.vitamin_C | number: '1.3-3' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Vitamin A:</strong>
            <div class="nutrient-list-item__value">
              {{
                nutrientData().vitamins.vitamin_A.totalVitamin_A
                  | number: '1.3-3'
              }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Vitamin E:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.vitamin_E | number: '1.3-3' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Vitamin K:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.vitamin_K | number: '1.3-3' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>B1 Thiamine:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.B1_thiamine | number: '1.3-3' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>B2 Riboflavin:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.B2_riboflavin | number: '1.3-3' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>B3 Niacin:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.B3_niacin | number: '1.3-3' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>B5 Pantothenic Acid: </strong>
            <div class="nutrient-list-item__value">
              {{
                nutrientData().vitamins.B5_pantothenic_acid | number: '1.3-3'
              }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>B6 Pyridoxine:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.B6_pyridoxine | number: '1.3-3' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>B7 Biotin:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.B7_biotin | number: '1.3-3' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>B9 Folic Acid:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.B9_folic_acid | number: '1.3-3' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>B12 Cobalamin:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.B12_cobalamin | number: '1.3-3' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Vitamin D:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.vitamin_D | number: '1.3-3' }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  }
</div>
