<!-- nutrient-list.component.html -->
<div class="nutrient-container">
  @if (nutrientData().name) {
    @if (displayName()) {
      <h2>Name: {{ nutrientData().name }}</h2>
    }
    <div class="columns-container">
      <!-- Other Nutrients Column -->
      <div class="column other">
        <h3>Nutrients</h3>
        <ul class="nutrient-list">
          <li>
            <strong>Calories:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().calories }}
              <div class="unit-wrapper">kcal</div>
              <div class="percentage-wrapper">({{ '2000' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Water Content:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().water }}
              <div class="unit-wrapper">ml</div>
              <div class="percentage-wrapper">({{ '100' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Total Protein:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.protein.total }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '300' }}%)</div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Animal Protein:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.protein.animal }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '1' }}%)</div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Plant Protein:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.protein.plant }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Total Fats:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.fats.total }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '300' }}%)</div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Saturated Fats:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.fats.saturated }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Monounsaturated Fats:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.fats.monounsaturated }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Polyunsaturated Fats:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.fats.polyunsaturated }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Trans Fats:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.fats.trans }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Total Carbohydrates:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.carbohydrates }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Total Sugars:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.sugars.total }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Glucose:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.sugars.glucose }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Fructose:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.sugars.fructose }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong class="list-item-margin-left">Sucrose:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.sugars.sucrose }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Fiber:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.fiber }}
              <div class="unit-wrapper">g</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Cholesterol:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().macroNutrients.cholesterol }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Glycemic Index:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().glycemic_index }}
            </div>
          </li>
        </ul>
      </div>
      <!-- Minerals Column -->
      <div class="column minerals">
        <h3>Minerals</h3>
        <ul class="nutrient-list">
          <li>
            <strong>Potassium: </strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.potassium }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Calcium: </strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.calcium }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Magnesium: </strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.magnesium }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Phosphorus: </strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.phosphorus }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Sodium: </strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.sodium }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Iron :</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.iron }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Zinc: </strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.zinc }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Copper: </strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.copper }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Manganese:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.manganese }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Selenium:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.selenium }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Iodine:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.iodine }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Fluoride:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.fluoride }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Chromium:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.chromium }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Molybdenum:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().minerals.molybdenum }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
        </ul>
      </div>

      <!-- Vitamins Column -->
      <div class="column vitamins">
        <h3>Vitamins</h3>
        <ul class="nutrient-list">
          <li>
            <strong>Vitamin C:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.vitamin_C }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Vitamin A:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.vitamin_A.total }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Vitamin E:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.vitamin_E }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Vitamin K:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.vitamin_K }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>B1 Thiamine:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.B1_thiamine }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>B2 Riboflavin:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.B2_riboflavin }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>B3 Niacin:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.B3_niacin }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>B5 Pantothenic Acid: </strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.B5_pantothenic_acid }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>B6 Pyridoxine:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.B6_pyridoxine }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>B7 Biotin:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.B7_biotin }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>B9 Folic Acid:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.B9_folic_acid }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>B12 Cobalamin:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.B12_cobalamin }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
          <li>
            <strong>Vitamin D:</strong>
            <div class="nutrient-list-item__value">
              {{ nutrientData().vitamins.vitamin_D }}
              <div class="unit-wrapper">mg</div>
              <div class="percentage-wrapper">({{ '20' }}%)</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  }
</div>
