@use '../styles/abstracts/variables' as *;
@use '../styles/abstracts/mixins' as mixin;

.nutrient-container {
  h2 {
    font-weight: 500;
  }

  .columns-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    width: 100%;

    @include mixin.response('md') {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(100%, 1fr);
    }

    strong {
      font-weight: 500;
    }

    .column {
      padding: 1.5rem;
      width: 34rem;

      @include mixin.response('xld') {
        width: 33rem;
      }

      @include mixin.response('ld') {
        width: auto;
        padding: 1rem;
      }

      @include mixin.response('md') {
        padding: 0;
      }

      // Remove left padding from first column
      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }

      h3 {
        margin-top: 0;
        color: #333;
        border-bottom: 1px solid #ddd;
        padding-bottom: 1rem;
      }
    }
  }
}

.nutrient-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.4rem;

  @include mixin.response('ld') {
    font-size: 1.2rem;
  }

  .nutrient-list-item {
    &__value {
      display: flex;
      .unit-wrapper {
        width: 30px;
        margin-left: 8px;
        margin-right: 3px;
      }
      .percentage-wrapper {
        width: 50px;
        flex: 1;
      }
    }
  }

  .list-item-margin-left {
    margin-left: 1.5rem;
  }

  li {
    padding: 4px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;

    @include mixin.response('xs') {
      padding: 1px;
    }

    &:hover {
      background-color: #ddd;
    }

    &:last-child {
      border-bottom: none;
    }

    strong {
      font-weight: 600;
      color: #333;
      margin-right: 1rem;
    }
  }
}
