.search-form {
  display: flex;
  width: 100%;
  min-width: 350px;
  justify-content: center;
  align-items: center;

  .search-button {
    margin-left: 2rem;
    width: 120px;
    margin-bottom: 1.6rem;
  }
}
