<form class="search-form">
  <mat-form-field class="example-full-width">
    <mat-label>{{ inputLabelText() }}</mat-label>
    <input
      type="text"
      [placeholder]="inputPlaceholderText()"
      [attr.aria-label]="inputLabelText()"
      matInput
      [formControl]="foodControl"
      [matAutocomplete]="auto"
    />
    @if (foodControl.value) {
      <button matSuffix mat-icon-button aria-label="Clear" (click)="onClear()">
        <mat-icon>close</mat-icon>
      </button>
    }
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @let options = filteredOptions$ | async;
      @for (option of options; track option) {
        <mat-option [value]="option.name">{{ option.name }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <button
    (click)="getOption()"
    mat-flat-button
    aria-label="Food button"
    class="search-button"
    [disabled]="!isFormValid"
  >
    {{ buttonText() }}
    @if (buttonFunction() === 'add') {
      <mat-icon class="app-mat-icon-scale-1">add_circle_outline</mat-icon>
    } @else if (buttonFunction() === 'search') {
      <mat-icon class="app-mat-icon-scale-1">search</mat-icon>
    }
  </button>
</form>
