.mat-mdc-input-element {
  font-size: 1.6rem !important;
}

.mat-mdc-option {
  font-size: 1.6rem !important;
}

.mat-mdc-floating-label {
  font-size: 1.2rem !important;
}

.mat-mdc-select-min-line {
  font-size: 1.6rem !important;
}
