@use '@angular/material' as mat;
@use '../styles/abstracts/variables' as *;

.error-snack {
  --mdc-snackbar-container-color: red !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: whiter !important;
}

.success-snack {
  --mdc-snackbar-container-color: #43a047 !important;
  --mdc-snackbar-supporting-text-color: white !important;
  --mat-mdc-snack-bar-button-color: whiter !important;
}

// Button font size
.mat-mdc-button.mat-mdc-snack-bar-action {
  font-size: 12px !important;
  color: white !important;
}

.mdc-snackbar__label {
  font-size: 12px !important;
}

// Container dimensions
.mdc-snackbar__surface {
  min-width: 200px !important;
  max-width: 800px !important;
  min-height: 48px !important;
  max-height: 80px !important;
  border-radius: 8px !important;
  padding: 8px 16px !important;
}
