<div class="container">
  <div class="graphic-section">
    <div class="graphic-content">
      <h1>Welcome to Parsley</h1>
      <p>To your private meal manager</p>
    </div>
  </div>
  <div class="login-section">
    <div class="login-wrapper">
      @if (globalStore.isLoading()) {
        <app-spinner />
      }

      @if (selectedFormType === authFormTypes.LOGIN) {
        <app-login-form (authAction)="onAuthorize($event)" />
        <p class="auth-info">
          Don't have an account yet?
          <a
            tabindex="0"
            (keypress)="onChoseFormType(authFormTypes.SIGNUP)"
            (click)="onChoseFormType(authFormTypes.SIGNUP)"
            >Sign Up</a
          >
        </p>
        <p class="auth-info">
          Or
          <a tabindex="0">Forgot Password / Change Password</a>
        </p>
      } @else if (selectedFormType === authFormTypes.SIGNUP) {
        <app-signup-form (authAction)="onAuthorize($event)" />
        <p class="auth-info">
          Have an account already.
          <a
            tabindex="0"
            (keypress)="onChoseFormType(authFormTypes.LOGIN)"
            (click)="onChoseFormType(authFormTypes.LOGIN)"
            >Log In</a
          >
        </p>
      }
    </div>
  </div>
</div>
