@use '../styles/abstracts/variables' as *;
@use '../styles/abstracts/mixins' as mixin;

.container {
  display: flex;
  height: 100vh;
  min-height: 500px;
}

.graphic-section,
.login-section {
  flex: 1;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.graphic-section {

  background: $green-600;

  color: white;

  .graphic-content {
    text-align: center;

    h1 {
      font-size: 5rem;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.6rem;
      opacity: 0.9;
    }
  }
}

.login-section {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;

  .login-wrapper {
    max-width: 400px;
    position: relative;
  }

  .auth-info {
    margin-top: $spacing-sm;
    font-size: $font-size-body-sm;
    a {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}

@include mixin.response('md') {

  .container {
    flex-direction: column;
  }


  .graphic-section {
    flex: 1;
  }
	
  .login-section {
    flex: 3;

  }

  .graphic-content h1 {
    font-size: 2rem;
  }

  .graphic-content p {
    font-size: 1rem;
  }
}
